Foo |
Bar |
Baz |

Foo |
Bar |
Baz

Foo |
  Bar |
    Baz |

Foo |
  Bar |
    = "Baz"

Foo |
%a{href="#"} Bar |
Baz |

%a{href="#"} Foo |
Bar |
Baz |

%img{src="#" |
     href="#"} |

%p
  = "Holy cow " + |
    "multiline " + |
    "tags! " + |
    "A pipe (|) even!" |
  = "PipesIgnored|"
  = "1" + |
    "2" + |
    "3" |
  %br/
  - for i in 0..1 do
    - let j = i + 2
    = j

- if true |
  && false = false then |
  = "w00t!"

The Last Line |