= "I feel <strong>!"
&= "I like cheese & crackers"
!= "I like cheese & crackers"
!= ["I", "like", "cheese", "&", "crackers"].join(' ')
%div= "I feel <strong>!"
%div&= "I like cheese & crackers"
%div!= "I like cheese & crackers"