Foo |
Bar |
Baz
Foo |
  Bar |
    Baz
Foo |
  Bar
    = "Baz"

Foo
%a{@href : '#'} Bar
Baz

Foo |
%a{@href : '#'} Bar |
Baz

%a{@href : '#'} Foo |
Bar |
Baz

%a{@href : '#'} Foo |
%a{@href : '#'} Bar |
%a{@href : '#'} Baz

%img{@src : '#'} |
%img{@src : '#'} |
%img{@src : '#'}

%p
  = "Holy cow " + |
    "multiline " + |
    "tags! " + |
    "A pipe (|) even!"
  = "PipesIgnored|"
  = "1" + |
    "2" + |
    "3"
  %br/
  - for i in range(0,2)
    - j = i | 2
    = j

- if true |
  and false == false
  = "w00t!"