Foo |
Bar |
Baz |

Foo |
Bar |
Baz

Foo |
  Bar |
    Baz |

Foo |
  Bar |
    = "Baz"

Foo |
%a{href="#"} Bar |
Baz |

%a{href="#"} Foo |
Bar |
Baz |

%img{src="#" |
     href="#"} |

%p
  = "Holy cow " + |
    "multiline " + |
    "tags! " + |
    "A pipe (|) even!" |
  = "PipesIgnored|"
  = "1" + |
    "2" + |
    "3" |
  %br/
  - For i As Integer = 0 To 1
    - Dim j As Integer = i Or 2
    = j
  - Next

- If (True |
  AndAlso False = False) Then |
  = "w00t!"
- End If

The Last Line |