^ title = Model.CategoryName
%h2= title
%p= Model.Description
%p
  %em= Html.ActionLink(Model, RestfulAction.Edit, "Edit Category")
  %em= Html.ActionLink(Model, RestfulAction.Destroy, "Delete Category")
%h3 Products
%ul
  - foreach (var product in Model.Products)
    %li = Html.ActionLink(product)
%p
  %em= Html.ActionLink<ProductsController>(RestfulAction.New, "Add Product")